body {
	background-color: #0D0D0B;
}

h1 {
	text-align: center;
	color: #E5E5DE;
}

h2 {
	text-align: center;
	color: #E5E5DE;
}

h3 {
	text-align: center;
	color: #E5E5DE;
}

pre {
	text-align: center;
	color: #E5E5DE;
}

p {
	text-align: center;
	color: #E5E5DE;
}

a:link {
	color: #E5E5DE;
	text-decoration:none
}

a:visited {
	color:#E5E5DE;
}

a:hover {
	color:#E5E5DE;
}

a:active {
	color:#E5E5DE;
}
